<li class="project project-card">
    <h2 class="project-title">
        <a id="<%= item.id %>" class="headerlink" href="<%= item.permalink %>">
            <i class="fa-solid fa-project-diagram"></i> <%- item.title ?? item.name %>
        </a>
    </h2>

    <p class="project">
        <%- partial('_partial/project/thumbnail', { item: item }) %> 
    </p>

    <p class="project project-subtitle">
        <a class="button" target="_blank" href="<%= item.url %>">
            <%- item.prompt ?? 'Project Homepage' %> <i class="fas fa-external-link"></i>
        </a>
    </p>

    <p class="project project-desc"><%= item.description %></p>
</li>

