<section id="about" class="p-note">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <%- partial('_partial/about/socials') %>
  <%- partial('_partial/about/skills') %>
  <%- partial('_partial/about/tools') %>
</section>

<% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
<% var site_posts = site.posts.sort(field_sort, 'desc') %>
<% var post_count = site_posts?.length ?? 0 %>

<section id="writing">
  <span class="h1"><a href="<%- url_for(theme.nav.articles) %>"><%= __('index.articles') %></a></span>
  <% if (theme.tags_overview && site.tags.length) { %>
  <span class="h2"><%= __('index.topics') %></span>
  <span class="widget tagcloud">
    <%- tagcloud(theme.tags_overview) %>
  </span>
  <span class="h2"><%= __('index.most_recent') %></span>
  <% } %>
  <ul class="post-list">
    <% if (theme.posts_overview.show_all_posts) { %>
    <% var show_posts = page.posts.sort(field_sort, 'desc') %>
    <% _p('counter.archive_posts', post_count) %>
    <% } else { %>
    <% var show_posts = site_posts.limit(theme.posts_overview.post_count || 5) %>
    <% var visible_post_count = show_posts.length %>
    <% _p('counter.visible_posts', visible_post_count) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
    <li class="post-item">
      <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
      <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
    </li>
    <% }); %>
  </ul>
  <% if (theme.posts_overview.show_all_posts) { %>
  <%- partial('_partial/pagination') %>
  <% } %>
</section>

<section id="projects">
  <%- partial('_partial/project/list') %>
</section>